body {
    padding-top: 70px;
}

.navbar-icon {
    max-width: 25px;
    max-height: 25px;
    margin-right: 20px;
}

.important {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: red;
}
.hiding-page {

}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #ce4844;
}
