body {
    padding-top: 70px;
}

.navbar-icon {
    max-width: 25px;
    max-height: 25px;
    margin-right: 20px;
}

.important {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: red;
}
.hiding-page {

}